<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/fragmento::header">
   
</head>
<div>

</div>
<body>
   <div  th:replace="layout/fragmento::barra">

   </div>
    <div class="container">
        <div class="row">
            <p style="font-size: larger; margin-bottom: 0%; margin-top: 10%; color: rgb(0, 0, 0); "> <strong>Ingeniería de Sistemas Computacionales</strong></p>
            <p style="margin-bottom: 0%;"> <strong>UPN</strong> </p>
            <p style="margin-bottom: 0%; color: rgb(94, 94, 94);">2021 - Actualmente</p>
            <p style="justify-content: center; margin-bottom: 3%;" ></p>
            <hr>  
        </div>
        <div class="row">
            <p style="font-size: larger; margin-bottom: 0%; margin-top: 5%; color: rgb(0, 0, 0); "> <strong>Educación primaria y secundaria</strong></p>
            <p style="margin-bottom: 0%;"> <strong>Colegio Bertolt Brecht</strong> </p>
            <p style="margin-bottom: 0%; color: rgb(94, 94, 94);">2011 - 2017</p>
            <p style="justify-content: center; margin-bottom: 3%;" ></p>
            <hr >  
        </div>
    </div>
    <div  th:replace="layout/fragmento::script">

    </div>
</body>
</html>