<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/fragmento::header">
   
</head>
<div>

</div>
<body>
   <div  th:replace="layout/fragmento::barra">

   </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 texto">
                <div class="row-md-6">
                    <P class="mover">Soy un estudiante de Ingeniería de Sistemas en noveno ciclo, apasionado por la tecnología y la programación. Poseo conocimientos en diversos lenguajes de programación, y estoy siempre dispuesto a aprender y adquirir nuevas habilidades en el mundo de la informática, el desarrollo de software y la ciberseguridad.</P> 

                </div>
                <div class="row mover justify-content-center" style="margin-top: 33%;"> 
                    <a href="https://www.linkedin.com/in/omarhm-/" target="_blank" class="col-md-2">
                        <i class="fa-brands fa-linkedin fa-2xl " style="color: black;"></i>
                    </a>
                    <a href="https://github.com/omaarzz" target="_blank" class="col-md-2">
                        <i class="fa-brands fa-github fa-2xl"  style="color: black;"></i>
                    </a>
                    <a href="mailto:omarhm1411@gmail.com" target="_blank" class="col-md-2">
                        <i class="fa-solid fa-envelope fa-2xl"  style="color: black;"></i>
                    </a>
                </div>
                
            </div>
            <div class="col-md-6">
                FOTO
               <img src="" alt=""> 
            </div>
        </div>
    </div>
    <div  th:replace="layout/fragmento::script">

    </div>
</body>
</html>